<div class="products-container">
  <div *ngFor="let product of products" class="product-card">
    <h3>{{ product.name }}</h3>
    <p>{{ product.price | currency }}</p>
    <div class="button-container">
      <app-icon-button
        icon="➡️"
        ariaLabel="View details"
        (onClick)="navigateToProductDetails(product)"
      >
      </app-icon-button>
      <app-icon-button
        icon="🛒"
        ariaLabel="View cart"
        (onClick)="navigateToCart()"
      >
      </app-icon-button>
    </div>
  </div>
</div>